<html>
<head>
  <title>Available Spaces</title>
  </head>
  <body>
    <h1> Feel At Home Anywhere </h1>
    <p>



        
            <% @spaces.each do |space| %>
            

            <a href="/all_spaces/<%=space.id%>"><%= space.name %></a><br>
               
            
            <% end %>
      
    </p>
    <p>
      <a href="/all_spaces/new_space">List your own space!</a><br>
    </p>


  </body>
</html>
