<html>
<head>
  <title>Available Spaces</title>
  </head>
  <body>
    <h1> Feel At Home Anywhere </h1>
    <p>



        <ul>
            <% @spaces.each do |space| %>
            

            <a href="/all_spaces/<%=space.id%>"><%= space.name %></a><br>
               
            
            <% end %>
        </ul>
    </p>


  </body>
</html>
