<html>
  <head>
  <title>MakersBnB</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
  <style>
    body {
    background-image: linear-gradient(120deg, #064496, #8742f7);
    color: white;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    }

    header{
    font-size: 1.5rem;
    }

    a {
        color: white;
    }
  </style>
</head>
  <body>
  <div style='text-align:center'>
    <header>
        <h1>
        MakersBnB
        </h1>
    </header>
    <h1> Feel at home anywhere </h1>
    <p>
      <a href='/spaces'>View all spaces</a>
    </p>
  </div>
 
  </body>
</html>