<html>
  <head>
  <title>MakersBnB</title>
</head>
  <body>
  <div style='text-align:center'>
    <header>
        <h1>
        MakersBnB
        </h1>
    </header>
    <h1> Feel at home anywhere </h1>
    <p>
      <a href='/spaces'>View all spaces</a>
    </p>
  </div>
 
  </body>
</html>
