<html>
  <head>
    <title>Placeholder title...</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
  </head>
  <body>
    <footer>
        <p> &copy MakersBnb Team Nijinsky</p>
    </footer>
    <%= yield %>
  </body>
</html>