<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  </head>
  <body>
    <!-- Navbar start -->
    <nav class="navbar">
        <div class="max-width">
            <ul class="menu">
                <li id= 'main-menu'><a href="/" class="menu-btn">Home</a></li>
                <li id= 'main-menu'><a href="/all_spaces" class="menu-btn">Spaces</a></li>
            </ul>
        </div>
    </nav>
    <footer>
        <p> &copy MakersBnb Team Nijinsky</p>
    </footer>
    <%= yield %>
  </body>
</html>