<html>
  <head>
  <title>Add a space</title>
</head>
<h1>List your space here to start sharing it with the world!</h1>
<form method='POST' action='/all_spaces'/>
    <label>Space name:</label><br />
        <input type='text' name='name'/><br />
    <label>Price:</label><br />
        <input type='int' name='price'/><br />
    <label>Description:</label><br />    
        <input type='text' name='description'/><br />
    <label>Availability:</label><br />    
        <input type='text' name='availability'/><br />
    <br />
        <input type='Submit' value='Submit'/>
</form>
 
  </body>
</html>