<html>
    
    <head><title> Add a space</title></head>
        <body>
            <form action="/all_spaces" method="POST">
                <div>
                    <label> Space name: </label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label> Price: </label>
                    <input type="int" name="price">
                </div>
                <div>
                    <label> Description: </label>
                    <input type="text" name="description">
                </div>
                <div>
                    <label> Availability: </label>
                    <input type="text" name="availability">
                </div>

                <input type="submit"/>
            </form>
        </body>
</html>