<html>
  <head>
  <title>Sign up</title>
</head>
<h1>Create your account with MakersBnB and see the world!</h1>
<form method='POST' action='/sign_up'/>
    <label>Name:</label><br />
    <input type='text' name='name'/><br />
    <label>Password:</label><br />
    <input type='password' name='password'/><br />
    <label>Email:</label><br />    
    <input type='text' name='email'/><br />
    <label>Phone number:</label><br />    
    <input type='text' name='phone'/><br />
    <br />
    <input type='Submit' value='Create Account'/>
</form>
 
  </body>
</html>