<html>
  <head></head>
  <body>
    <h1><%=@space.name%></h1>
    <p>
      Description: <%=@space.description%><br>
      Price: <%=@space.price%> 
    </p>
  </body>
  <a href="/all_spaces">Back</a><br>
    <p>
    <br><a href="/">Go to Homepage</a> 
      </p>
</html>
