<html>
  <head>
  </head>
  <body>
    <h1><%=@space.name%></h1>
    <p>
      Description: <%=@space.description%><br>
      Price: £<%=@space.price%> 
    </p>
    <% if session? %>
    <p>
      <%=@space.availability%>
    </p>
    <% end %>
  </body>
  <a href="/all_spaces">Back</a><br>
   
</html>
