body {
background-image: linear-gradient(120deg, #064496, #8742f7);
color: white;
font-family: 'Montserrat', sans-serif;
min-height: 100vh;
text-align: center;
}

header{
font-size: 1.5rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
  }

a {
    color: white;
}

.navbar {
    background-color: darkblue;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li {
   
    display: inline;
    padding: 15px;
    text-align: center;
}