body {
background-image: linear-gradient(120deg, #064496, #8742f7);
color: white;
font-family: 'Montserrat', sans-serif;
min-height: 100vh;
}

header{
font-size: 1.5rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
  }

a {
    color: white;
}
